@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
}
html {
  min-height: 100vh;
}

.App {
  min-height: 90vh;
}
header img {
  width: 100%;
  height: 100px;
}

header h3 {
  position: absolute;
  color: black;
  font-family: "Courier New", Courier, monospace;
  font-size: 35px;
  font-weight: bolder;
  letter-spacing: 3px;
  top: 5%;
  left: 50%;
  transform: translate(-50%, -5%);
  text-shadow: 2px 2px rgb(198, 201, 218);
}

nav {
  background-color: black;
  color: blanchedalmond;
}

nav:after {
  content: "";
  clear: both;
  display: table;
}

nav ul {
  float: right;
  list-style: none;
  margin-right: 40px;
  position: relative;
  margin-left: 0px;
  z-index: 1111;
}

nav ul li {
  display: inline-block;
  background: black;
  margin: 0 5px;
  border-radius: 4px;
}

nav ul li a {
  color: white !important;
  text-decoration: none;
  line-height: 50px;
  font-size: 15px;
  padding: 8px 15px;
}
nav:visited {
  color: white;
  text-decoration: none;
}
nav:focus {
  color: white;
  text-decoration: none;
}

nav ul li a:hover {
  border-radius: 5px;
  box-shadow: 0 0 5px #33ffff, 0 0 5px #66ffff;
  color: cyan;
  text-decoration: none;
}

nav ul ul {
  margin-left: 0;
  position: absolute;
  top: 60px;
  opacity: 0;
  visibility: hidden;
  transition: top 0.3s;
}

nav ul li:hover > ul {
  top: 50px;
  opacity: 1;
  visibility: visible;
  /* background-color: azure; */
}

nav ul ul li {
  position: relative;
  right: 30px;
  width: 120px;
  float: none;
  display: list-item;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

nav ul ul li a {
  line-height: 50px;
}

nav ul ul li a:hover {
  color: cyan !important;
  box-shadow: none;
}

nav ul ul ul li {
  position: relative;
  top: -50px;
  left: 95px;
  text-align: center;
}

span .fa-plus {
  margin-left: 40px;
  font-size: 15px;
}

footer {
  /* position:relative; */
  /* top:90px; */
  background-color: black;
  padding: 30px;
  color: blanchedalmond;
  margin: 0px;
}

.card {
  width: 18rem;
}

.card-body {
  text-align: center;
  background-color: rgb(238, 238, 238) !important;
}

#cards {
  display: flex;
  flex-direction: row;
}

#search-bar {
  width: 350px;
}

.btn-outline-primary {
  margin-top: 10px;
  width: 70px;
  height: 34px;
}

form {
  font-size: 15px;
}

form h1 {
  text-align: center;
}

input,
textarea {
  text-decoration: none;
  font-weight: lighter;
  border-radius: 3px;
  padding: 6px 20px;
}

input {
  border-radius: 3px;
  padding: 6px 20px;
}
.registration-wrapper {
  padding: 5rem 0rem;
  background: #fff;
  margin: 0;
  min-height: 90vh;
}
.reg-form {
  display: flex;
  justify-content: space-around;
}
.form {
  max-width: 70%;
  margin: 0rem auto;
  background-color: beige;
  /* border:1px solid black; */
  padding: 20px 20px;
  box-sizing: border-box;
  border-radius: 10px;
}
.form span,
.contact-form span {
  color: rgb(226, 31, 31);
}
textarea {
  resize: none;
}
.submit-wrap {
  padding-top: 1rem;
  text-align: center;
}
.radio-section {
  display: flex;
  justify-content: space-around;
}
.male,
.female {
  /* display:flex; */
  padding: 5px;
}
.male label,
.female label {
  padding-left: 7px;
}
.contact {
  display: flex;
  /* flex-direction: row-reverse; */
  justify-content: space-around;
  align-items: flex-start;
  margin-top: 60px;
  padding: 1rem 5rem;
}
.contact-form .radio-section {
  display: flex;
  justify-content: flex-start;
}
.contact-form {
  /* width:35vw; */
  border-radius: 10px;
  background-color: beige;
  padding: 40px 20px;
  box-sizing: border-box;
  margin-bottom: 50px;
}
.contact-form input,
.contact-form textarea {
  width: 100%;
  margin: 0 auto;
}

.left {
  margin-top: 50px;
}
.photo-wrapper {
  min-width: 100vw;
  min-height: 100vh;
  color: #37517e;
}
.photo {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding: 10rem 0;
  margin: 0 auto;
}

.photo-galery {
  display: flex;
  flex-direction: row;
  cursor: pointer;
}
.rounded {
  margin: 10px;
  width: 300px;
}

.photo-galery .rounded:hover {
  transform: scale(1.1);
  transition-duration: 0.4s;
}

.photo h2 {
  margin: 30px;
  font-size: 30px;
}

#hero {
  width: 100%;
  min-height: 90vh;
  background: #37517e;
  padding: 0px 2rem;
}

#hero .containerz {
  float: right;
  margin-left: 42px;
}

#hero h1 {
  text-align: left;
  margin: 0 0 10px 0;
  font-size: 4rem;
  font-weight: 700;
  color: #fff;
}

#hero p {
  color: rgba(255, 255, 255, 0.788);
  margin-bottom: 50px;
  font-size: 1.8rem;
}

.btn-grad {
  background-image: linear-gradient(
    to right,
    #314755 0%,
    #26a0da 51%,
    #314755 100%
  );
}
.btn-grad {
  font-family: "Jost", sans-serif;
  font-weight: bold;
  font-size: 16px;
  text-decoration: none;
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  display: block;
  letter-spacing: 1px;
}

.btn-grad:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

.btn-get-started {
  background-image: linear-gradient(
    to right,
    #314755 0%,
    #26a0da 51%,
    #314755 100%
  );
}
.btn-get-started a {
  color: #fff;
}
.btn-get-started {
  font-family: "Jost", sans-serif;
  font-weight: 500;
  font-size: 16px;
  text-decoration: none;
  font-weight: bold;

  margin: 10px;
  padding: 15px 45px;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  display: block;
}
.btn-get-started :hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}
#hero .animated {
  animation: up-down 2s ease-in-out infinite alternate-reverse both;
}

@media (max-width: 991px) {
  #hero {
    height: 100vh;
    text-align: center;
  }
  #hero .animated {
    -webkit-animation: none;
    animation: none;
  }
  #hero .hero-img {
    text-align: center;
  }
  #hero .hero-img img {
    width: 50%;
  }
}

@media (max-width: 768px) {
  #hero h1 {
    font-size: 28px;
    line-height: 36px;
  }
  #hero h2 {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 30px;
  }
  #hero .hero-img img {
    width: 70%;
  }
}

@media (max-width: 575px) {
  #hero .hero-img img {
    width: 80%;
  }
  #hero .btn-get-started {
    font-size: 16px;
    padding: 10px 24px 11px 24px;
  }
  #hero .btn-watch-video {
    font-size: 16px;
    padding: 10px 0 8px 40px;
    margin-left: 20px;
  }
  #hero .btn-watch-video i {
    font-size: 32px;
    top: 7px;
  }
}

@media (max-width: 991px) {
  #hero {
    height: 100vh;
    text-align: center;
  }
  #hero .animated {
    -webkit-animation: none;
    animation: none;
  }
  #hero .hero-img {
    text-align: center;
  }
  #hero .hero-img img {
    width: 50%;
  }
}

@media (max-width: 768px) {
  #hero h1 {
    font-size: 28px;
    line-height: 36px;
  }
  #hero h2 {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 30px;
  }
  #hero .hero-img img {
    width: 70%;
  }
}

@media (max-width: 575px) {
  #hero .hero-img img {
    width: 80%;
  }
  #hero .btn-get-started {
    font-size: 16px;
    padding: 10px 24px 11px 24px;
  }
  #hero .btn-watch-video {
    font-size: 16px;
    padding: 10px 0 8px 40px;
    margin-left: 20px;
  }
  #hero .btn-watch-video i {
    font-size: 32px;
    top: 7px;
  }
}

@-webkit-keyframes up-down {
  0% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(-10px);
  }
}

@keyframes up-down {
  0% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(-10px);
  }
}
.help-wrapper {
  min-height: 90vh;
  /* background-color: beige; */
}
#help {
  width: 300px;
}

.both-help {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.fields ul {
  font-size: 14px;
  line-height: 30px;
  list-style: none;
}

.fields ul a {
  text-decoration: none;
}

.fields {
  background-color: beige;
  width: 400px;
  height: 250px;
  border-radius: 10px;
}

.fields h3 {
  margin: 20px;
  text-align: center;
  font-size: 25px;
  font-weight: bolder;
}

.help-form {
  text-align: center;
}
.help-form input::placeholer {
  font-weight: 500;
}

.blog-wraper {
  padding: 4rem 2rem;
  /* background-color: beige; */
}
.container-blog {
  display: grid;
  grid-template-columns: repeat(autofit, minmax(1fr));
  grid-template-rows: repeat(3, 1fr);
  grid-row-gap: 4rem;
  place-items: center;
  justify-content: flex-end;
  margin: 3rem auto;
}

.card1 {
  grid-area: 1 / 1 / 2 / 2;
}
.card2 {
  grid-area: 1 / 2 / 2 / 3;
}
.card3 {
  grid-area: 2 / 1 / 3 / 2;
}
.card4 {
  grid-area: 2 / 2 / 3 / 3;
}
.card5 {
  grid-area: 3 / 1 / 4 / 2;
}
.card6 {
  grid-area: 3 / 2 / 4 / 3;
}


@media only screen and (max-width: 1024px) {
  .rounded{
    width:250px;
  }
}

@media only screen and (min-width: 1024px) {
  .container-blog {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-content: center;
  }

  .card1 {
    grid-area: 1 / 1 / 2 / 2;
  }
  .card2 {
    grid-area: 1 / 2 / 2 / 3;
  }
  .card3 {
    grid-area: 1 / 3 / 2 / 4;
  }
  .card4 {
    grid-area: 2 / 1 / 3 / 2;
  }
  .card5 {
    grid-area: 2 / 2 / 3 / 3;
  }
  .card6 {
    grid-area: 2 / 3 / 3 / 4;
  }
}

.card-img-top {
  height: 13rem;
}

#search-bar {
  float: right;
}
